$govuk-assets-path: "/assets/govuk/assets/" !default;

// Include only the bits of GOV.UK Frontend we need
@import "govuk/settings/all";
@import "govuk/tools/all";
@import "govuk/helpers/all";

@import "govuk/core/all";
@import "govuk/objects/all";

@import "govuk/components/footer/footer";
@import "govuk/components/header/header";
@import "govuk/components/inset-text/inset-text";
@import "govuk/components/input/input";
@import "govuk/components/tag/tag";
@import "govuk/components/skip-link/skip-link";
@import "govuk/components/warning-text/warning-text";

@import "govuk/utilities/all";
@import "govuk/overrides/all";

@import "core";
@import "vendor/fixedsticky";
