---
title: API community links
weight: 1
---
# API community links

This page contains an archived list of links shared in the [UK Government API and Data Exchange Community Slack](https://ukgovtapidx.slack.com/) by people in the cross-government API community. The list includes links to websites outside of the public sector such as software company websites and personal blogs.

To request to join the cross-government API and Data Exchange Community Slack, [email us](mailto:api-programme@digital.cabinet-office.gov.uk) or [contact us in the `#apis` channel of the cross-government Slack community](https://ukgovernmentdigital.slack.com/archives/C41GC5UAY).

You can also <a href="/resources/links/feed.xml">subscribe to this page's RSS feed</a>.

<% links.by_date.reverse_each do |i, links| %>
## <%= i.strftime('%d %B %Y') %>

<ul>
  <% links.each do |link| %>
    <li>
      <%
          tracking_url = append_querystring(link.url, {
            utm_source: "api.gov.uk",
            utm_medium: "direct",
          })
        %>
      <a href="<%= tracking_url %>"><%= link.title %></a>
    </li>
  <% end %>
</ul>
<% end %>

<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" href="/resources/links/feed.xml" />
<% end %>
