// A Base16 palette
// https://github.com/chriskempson/base16

$code-00: scale-color(govuk-colour("light-grey"), $lightness:50%); /* Default Background */
$code-01: #f5f5f5; /* Lighter Background (Unused) */
$code-02: #bfc1c3; /* Selection Background */
$code-03: darken( $govuk-secondary-text-colour, 2%);; /* Comments, Invisibles, Line Highlighting */
$code-04: #e8e8e8; /* Dark Foreground (Unused) */
$code-05:  $govuk-text-colour; /* Default Foreground, Caret, Delimiters, Operators */
$code-06: #ffffff; /* Light Foreground (Unused) */
$code-07: #ffffff; /* Light Background (Unused) */

$code-08: #d4351c; /* Variables, XML Tags, Markup Link Text, Markup Lists */
$code-09: #0E7754; /* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
$code-0A: #4C4077; /* Classes, Markup Bold, Search Text Background */
$code-0B: $govuk-brand-colour; /* Strings, Inherited Class, Markup Code */
$code-0C: $govuk-brand-colour; /* Support, Regular Expressions, Escape Characters, Markup Quotes */
$code-0D: #4C4077; /* Functions, Methods, Attribute IDs, Headings */
$code-0E: #a71d5d; /* Keywords, Storage, Selector, Markup Italic */
$code-0F: #C92424; /* Deprecated, Opening/Closing Embedded Language Tags e.g. <?php ?> (Unused) */

$code-insert-bg: #DEF8CA;
$code-delete-bg: #FADDDD;
