---
title: Index
weight: 2
---

<h1 id="index">A to Z</h1>

<table class="js-table-sort">
  <thead>
    <tr>
      <th class="govuk-!-width-one-third" data-sort-default>Name</th>
      <th class="govuk-!-width-one-third">Department</th>
      <th class="govuk-!-width-one-third">Licence</th>
    </tr>
  </thead>

  <tbody>
    <% overview.entries.each do |entry| %>
      <tr>
        <td><%= link_to(entry.name, entry.url) %></td>
        <td><%= entry.department %></td>
        <td><%= render_markdown(unescape_newlines(entry.license)) if entry.license.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style type="text/css">
  /* Allow overview table to be wider */
  .technical-documentation {
    max-width: none;
  }
</style>

<%= javascript_include_tag("table_sort.js", defer: true, async: true) %>
