.contribution-banner {
  @include govuk-font($size: 19);
  padding: 0;
  max-width: 40em;
  margin-top: govuk-spacing(9);
  margin-left: govuk-spacing(3);
  margin-right: govuk-spacing(3);

  @include govuk-media-query(tablet) {
    margin-left: govuk-spacing(6) + 2px;
    margin-right: govuk-spacing(6) + 2px;
  }

  a {
    margin-right: govuk-spacing(3);
    @include govuk-link-common;
    @include govuk-link-style-default;
  }

  li {
    display: inline-block;
    list-style: none;
    margin: 2px 0;
  }
}
