.page-expiry--not-expired,
.page-expiry--default {
  @include govuk-font($size: 19);
  padding: govuk-spacing(3);
  margin-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(6);
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");

  @include govuk-media-query(tablet) {
    padding: govuk-spacing(6);
  }

  a:link,
  a:visited {
    color: inherit;
  }

  a:hover {
    color: $govuk-link-hover-colour;
  }

  a:active {
    color: $govuk-link-active-colour;
  }
}

.page-expiry--expired {
  display: none;

  padding: govuk-spacing(3);
  margin-top: govuk-spacing(9);
  border: govuk-spacing(1) solid $govuk-error-colour;
  background-color: govuk-colour("white");
  color: $govuk-text-colour;
}
