---
on:
  pull_request:
  push:
    branches-ignore:
      - gh-pages
        
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - uses: ruby/setup-ruby@6bd3d993c602f6b675728ebaecb2b569ff86e99b
        with:
          bundler-cache: true

      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8
        with:
          node-version: '16'

      - name: Cache node modules
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: npm-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-${{ runner.os }}-build-${{ env.cache-name }}-
            npm-${{ runner.os }}-build-
            npm-

      - name: Install NPM dependencies
        run: npm install

      - name: Test
        run: bundle exec rspec

      - name: Lint
        run: bundle exec rubocop --parallel

      - name: Validate schema
        run: bundle exec rake schema

      - name: Build
        run: bundle exec rake build

      - name: Upload built site
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3
        with:
          name: site
          path: build
          retention-days: 1

  htmlproofer:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - uses: ruby/setup-ruby@6bd3d993c602f6b675728ebaecb2b569ff86e99b
        with:
          bundler-cache: true

      - name: Download built site
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427
        with:
          name: site
          path: build

      - name: Test built site
        run: bundle exec rake htmlproofer

  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633

      - uses: ruby/setup-ruby@6bd3d993c602f6b675728ebaecb2b569ff86e99b
        with:
          bundler-cache: true

      - name: Download built site
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427
        with:
          name: site
          path: build

      # Checkout stripped-down gh-pages branch to a subdirectory, for publishing
      - name: Checkout gh-pages branch
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633
        with:
          ref: gh-pages
          path: tmp/publish

      - name: Publish
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          bundle exec rake publish CLONED_GH_PAGES_DIR="tmp/publish"
