---
on:
  pull_request:
  push:
    branches-ignore:
      - gh-pages
        
permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - uses: ruby/setup-ruby@bd94d6a504586da892a5753afdd1480096ed30df
        with:
          bundler-cache: true

      - uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236
        with:
          node-version: '16'

      - name: Cache node modules
        uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: npm-${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            npm-${{ runner.os }}-build-${{ env.cache-name }}-
            npm-${{ runner.os }}-build-
            npm-

      - name: Install NPM dependencies
        run: npm install

      - name: Test
        run: bundle exec rspec

      - name: Lint
        run: bundle exec rubocop --parallel

      - name: Validate schema
        run: bundle exec rake schema

      - name: Build
        run: bundle exec rake build

      - name: Upload built site
        uses: actions/upload-artifact@v2
        with:
          name: site
          path: build
          retention-days: 1

  publish:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - uses: ruby/setup-ruby@bd94d6a504586da892a5753afdd1480096ed30df
        with:
          bundler-cache: true

      - name: Download built site
        uses: actions/download-artifact@fb598a63ae348fa914e94cd0ff38f362e927b741
        with:
          name: site
          path: build

      # Checkout stripped-down gh-pages branch to a subdirectory, for publishing
      - name: Checkout gh-pages branch
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
        with:
          ref: gh-pages
          path: tmp/publish

      - name: Publish
        run: |
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          bundle exec rake publish CLONED_GH_PAGES_DIR="tmp/publish"
